<footer class="site-footer">
  <div class="wrapper footer-inner">

    <nav class="footer-nav">

      <p class="footer-signature">
        Hecho con ❤️ en 🇦🇷
      </p>

      <p>Este sitio no te rastrea</p>
       <p class="copyr">
        © 2026 Gabo —
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="license noopener">
          <img src="/assets/img/88x31.png" alt="Licencia Creative Commons BY-NC-SA 4.0" style="vertical-align:middle;">
        </a>
      </p>
    </nav>

  </div>
</footer>
