---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

/* ===== Tipografía editorial ===== */

body {
  font-family: "Libre Baskerville", Georgia, serif;
  font-size: 18px;
  line-height: 1.8;
  font-weight: 400;
  color: #181818;
}
.post-meta {
  font-size: 0.85rem;
  color: #222;
  font-style: italic;
  margin-bottom: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Inter", system-ui, sans-serif;
  font-weight: 600;
  letter-spacing: -0.01em;
}

/* ===== Ritmo editorial ===== */

.post-link {
  font-size: clamp(1.5rem, 3vw, 1.875rem);
  font-weight: 600; // opcional
}

.post-title {
  font-weight: 600;
}
.post-content {
  max-width: 660px;
}

p {
  margin-bottom: 1.4em;
}

.read-more {
  background: none;
  padding: 0;
  border: none;
  font-size: 0.95rem;
  color: #555;
  font-weight: 600;
}

.read-more::before {
  content: "— ";
}

.read-more:visited{
  color: #111;
}

/* ===== HEader ===== */

.site-header {
	border-top: 2px solid rgb(40, 40, 40);
  	margin-bottom: 2rem;
  	border-bottom: 1px solid #57575752;
}

/* ===== Post ===== */
.post-list li {
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 4rem;
  padding-right: 1.5rem;   /* ← aire respecto a la línea */
}


.post-list li::after {
  content: "";
  position: absolute;
  left: 6.5rem;      /* ajustá esto según “— leer más” */
  right: 0;
  bottom: 23px;
  height: 1px;
  background: rgba(0,0,0,0.25);
}
.post-list li::before {
  content: "";
  position: absolute;
  right: 0;
  top: 12.2rem;       /* altura donde comienza el título */
  bottom: 1.5rem;    /* deja aire abajo */
  width: 1px;
  background: rgba(0,0,0,0.2);
}



/* ===== Footer ===== */
.site-footer {
  margin-top: 6rem;
  padding: 2rem;
  font-size: 0.85rem;
  color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(87, 87, 87, 0.3215686275);
}

.footer-inner {
  text-align: center;
}

.footer-nav {
  font-size: 1.2rem;
  font-family: inter;
}

.footer-nav a {
  color: rgba(0, 0, 0, 0.55);
  text-decoration: none;
  font-size: 1rem;
}

.footer-nav a:hover {
  
}

.footer-sep {
  margin: 0 0.4rem;
  color: rgba(0, 0, 0, 0.3);
}

.footer-privacy {
  margin: 0.4rem 0 0.6rem;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.45);
}

.footer-signature {
  margin: 0;
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.78);
}


/* ===== paginas en menu ===== */
.site-nav .page-link {
	font-size: 15px;
	font-family: "Inter", system-ui, sans-serif;
	font-weight: 600;
	color: #777;
}


/* ===== Video Embebido ===== */


.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
  margin: 2rem 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ===== Archivo ===== */

#archivo {
  font-family: monospace;
  font-size: 0.9rem;
  line-height: 1.6;
}

#archivo p {
  margin: 0.1rem 0;
}

#archivo a {
  text-decoration: none;
}

#archivo a:hover {
  text-decoration: underline;
}

