---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

/* ===== Tipografía editorial ===== */

body {
  font-family: "Libre Baskerville", Georgia, serif;
  font-size: 18px;
  line-height: 1.75;
  font-weight: 400;
  color: #222;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Inter", system-ui, sans-serif;
  font-weight: 600;
  letter-spacing: -0.01em;
}

/* ===== Ritmo editorial ===== */

.post-link {
  font-size: clamp(1.5rem, 3vw, 1.875rem);
  font-weight: 600; // opcional
}

.post-title {
  font-weight: 600;
}
.post-content {
  max-width: 660px;
}

p {
  margin-bottom: 1.4em;
}

.read-more {
  background: none;
  padding: 0;
  border: none;
  font-size: 0.95rem;
  color: #555;
}

.read-more::before {
  content: "— ";
}

.read-more:visited{
  color: #111;
}

/* ===== HEader ===== */

.site-header {
  margin-bottom: 2rem;
}

/* ===== Post ===== */
.post-list li {
	padding-bottom: 1.5rem;
  	margin-bottom: 1.5rem;
  	border-bottom: 2px solid rgba(0, 0, 0, 0.14);
  	border-right: 2px solid #0000004f;
}


/* ===== Footer ===== */
.site-footer {
font-size: 0.85rem;
  color: #0a0a0a;
  opacity: 0.8;
  }

/* ===== paginas en menu ===== */
.page-link {
	font-size: 15px;
}
